################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sln
/src/bin/Debug
/src/obj/Debug
*.suo
/src/.vs/*
/src/EwsClientWinForms.v3.ncrunchsolution.user
/src/EwsClientWinForms.sln.DotSettings.user
