<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   
    <system.serviceModel>
        <bindings>
            <netHttpBinding>
                <binding name="NetHttpBinding_IEyeshotService"
                         messageEncoding="Mtom"
                         maxReceivedMessageSize="2147483647"                 
                         receiveTimeout="00:20:00" sendTimeout="00:20:00" openTimeout="00:20:00" closeTimeout="00:20:00">
                  <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
                  <security mode="None"/>
                    <webSocketSettings transportUsage="Always" />
                </binding>
            </netHttpBinding>
        </bindings>
        <client>                 
          <endpoint address="ws://ews.devdept.com/V1/Eyeshot.svc" binding="netHttpBinding"
                bindingConfiguration="NetHttpBinding_IEyeshotService" contract="EyeshotServiceRef.IEyeshot"
                name="NetHttpBinding_IEyeshotService" />
        </client>
    </system.serviceModel>
</configuration>
